name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Generate Prisma Client
        run: bun --bun run prisma generate
        env:
          DATABASE_URL: 'file:./test.db'

      - name: Lint
        run: bun run lint

      - name: Typecheck
        run: bun run typecheck

      - name: Run Tests
        run: bun run test
        env:
          DATABASE_URL: 'file:./test.db'
